{% extends 'base.html.twig' %}

{% block title %}Hello HelpController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container w-75 mx-auto d-flex flex-column">
		<h1 class="my-3 text-center bold">Bonjour, comment pouvons-nous vous aider ?</h1>
		<div class="d-flex justify-content-between mb-5">
			<button class="btn btn-light2 w-auto mx-auto d-inline-flex align-items-center rounded-3 p-2 ">
				<span class="bold">&nbsp;Rechercher des guides pratiques et plus</span>
				<span class="ms-2">
					<i class="icon-round bi bi-search"></i>
				</span>
			</button>
		</div>
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" data-bs-toggle="tab" href="#location" aria-selected="true" role="tab">Location</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#host" aria-selected="false" tabindex="-1" role="tab">Hôte du commerce</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#experience" aria-selected="false" tabindex="-1" role="tab">Hôte d'expérience</a>
			</li>
		</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade show active" id="location" role="tabpanel">
				<div class="mt-5 border rounded-2 px-4 py-3">
					<h3 class="bold">Nous sommes là pour vous aider</h3>
					<div class="d-inline-flex align-items-center justify-content-between w-100">Connectez-vous pour obtenir de l'aide pour vos réservations, votre compte et plus encore.
						<button class="btn btn-danger w-auto my-0">Me connecter ou m'inscrire</button>
					</div>
				</div>
				<div class="mt-5 d-inline-flex align-items-center justify-content-between w-100">
					<h3 class="bold">Guides pour démarrer</h3>
					<a href="javascript:void()">Parcourir tous les sujets ></a>
				</div>
				<div class="mt-5 d-inline-flex align-items-center justify-content-between w-100">
					<div class="card-panel mb-5"><div class="card-legend">Premiers pas</div></div>
					<div class="card-panel mb-5"><div class="card-legend">Accéder à votre compte et le gérer</div></div>
					<div class="card-panel mb-5"><div class="card-legend">Aide concernant votre location</div></div>
					<div class="card-panel mb-5"><div class="card-legend">Express Immo pour les urgences</div></div>
				</div>
			</div>
			<div class="tab-pane fade" id="host" role="tabpanel">
				<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
			</div>
			<div class="tab-pane fade" id="experience" role="tabpanel">
				<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
			</div>
		</div>
	</div>
{% endblock %}
