{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block body %}

	<div class="container w-75 mx-auto d-flex flex-column">
		<h1 class="my-3 text-center bold">Bonjour, comment pouvons-nous vous aider ?</h1>
		<div class="d-flex justify-content-between mb-5">
			<button class="btn btn-light2 w-auto mx-auto d-inline-flex align-items-center rounded-3 p-2 ">
				<span class="bold">&nbsp;Rechercher des guides pratiques et plus</span>
				<span class="ms-2">
					<i class="icon-round bi bi-search"></i>
				</span>
			</button>
		</div>
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" data-bs-toggle="tab" href="#location" aria-selected="true" role="tab">Location</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#host" aria-selected="false" tabindex="-1" role="tab">Hôte du commerce</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#experience" aria-selected="false" tabindex="-1" role="tab">Hôte d'expérience</a>
			</li>
		</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade show active" id="location" role="tabpanel">
				<div class="mt-5 border rounded-2 px-4 py-3">
					<h3 class="bold">Nous sommes là pour vous aider</h3>
					<div class="d-inline-flex align-items-center justify-content-between w-100">Connectez-vous pour obtenir de l'aide pour vos réservations, votre compte et plus encore.
						<button class="btn btn-danger w-auto my-0">Me connecter ou m'inscrire</button>
					</div>
				</div>
				<div class="mt-5 d-inline-flex align-items-center justify-content-between w-100">
					<h3 class="bold">Guides pour démarrer</h3>
					<a href="javascript:void()">Parcourir tous les sujets ></a>
				</div>
				<div class="mt-5 d-inline-flex align-items-center justify-content-between w-100">
					<div class="card-panel mb-5">
						<div class="card-legend">Premiers pas</div>
					</div>
					<div class="card-panel mb-5">
						<div class="card-legend">Accéder à votre compte et le gérer</div>
					</div>
					<div class="card-panel mb-5">
						<div class="card-legend">Aide concernant votre location</div>
					</div>
					<div class="card-panel mb-5">
						<div class="card-legend">Express Immo pour les urgences</div>
					</div>
				</div>
				<div>
					<div>
						<h3 class="bold mb-4 mt-5">Articles principaux
						</h3>
					</div>
					<div class="grid-3-3 mb-5">
						<div class="grid-content">
							<a href="#">Annuler votre réservation</a>
							<p class="text-truncate-3">Vos projets ont changé et vous devez maintenant annuler votre réservation. Aucun problème. Accédez à vos Voyages pour</p>
						</div>
						<div class="grid-content">
							<a href="#">Modifier la date ou l'heure de la réservation d'une expérience</a>
							<p class="text-truncate-3">Vous avez réservé une expérience, mais la date ou l'heure ne vous convient plus ? Ne vous</p>
						</div>
						<div class="grid-content">
							<a href="#">Si votre hôte annule la réservation</a>
							<p class="text-truncate-3">Bien que cette situation soit rare, un hôte peut parfois devoir annuler une réservation. Nous</p>
						</div>
						<div class="grid-content">
							<a href="#">Modes de paiement acceptés</a>
							<p class="text-truncate-3">Immo accepte plusieurs modes de paiement selon le pays où est domicilié votre compte bancaire. Les modes de paiement disponible</p>
						</div>
						<div class="grid-content">
							<a href="#">Modifier, supprimer ou ajouter un mode de paiement</a>
							<p class="text-truncate-3">Si l'un des modes de paiement de votre compte est incorrect (par exemple, la carte d</p>
						</div>
						<div class="grid-content">
							<a href="#">Quand vous payerez votre réservation</a>
							<p class="text-truncate-3">Vous venez d'effectuer une réservation. Félicitations ! Quelles sont les prochaines</p>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="host" role="tabpanel">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
				</div>
				<div class="tab-pane fade" id="experience" role="tabpanel">
					<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="px-4 py-3 bg-black w-100">
			<h3 class="pt-4 px-3 text-white">En savoir plus</h3>
			<hr style="background:white;">
			<div class="d-flex justify-content-between">
			<div class="bg-black" style="width: 10rem;"></div>
				<div class="card" style="width: 20rem;">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
					<div class="f-lg card-body">
						<p class="card-text">
							<b>Nos Valeurs de la communauté</b><br>
							Nos actions pour établir un climat de confiance.</p>
					</div>
				</div>
				<div class="card" style="width: 20rem;">
					<img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
					<div class="f-lg  card-body">
						<p class="card-text">
							<b>Conseils et consignes de sécurité</b><br>
							Conseils de sécurité pour les voyageurs.</p>
					</div>
				</div>
				<div class="ms-2 text-white" style="width: 21rem;">
					<h4 class="my-2 bold">Besoin de nous joindre ?</h4>
					<div class="mt-3 text-white f-lg">Commençons par quelques questions afin de mieux vous orienter.
						<button class="my-4 btn btn-light">Contactez nous</button>
						Vous pouvez également nous
						<a href="#" class="text-white f-md normal">envoyer vos remarques.</a>
					</div>
				</div>
			<div class="bg-black" style="width: 10rem;"></div>

			</div>
		</div>

	{% endblock %}
