<div class="d-flex mt-4 lh-2 f-md justify-content-center">
	<div class="d-block w-30 p-3 border rounded">
		<ul class="list-unstyled ">
			<li>
				<h5 class="bold f-lg">Assistance</h5>
			</li>
			<li>
				<a href="#" class="normal">Centre d'aide</a>
			</li>
			<li>
				<a href="#" class="normal">Assistance sécurité</a>
			</li>
			<li>
				<a href="#" class="normal">Express Immo</a>
			</li>
			<li>
				<a href="#" class="normal">Lutte contre la discrimination</a>
			</li>
			<li>
				<a href="#" class="normal">Assistance handicap</a>
			</li>
			<li>
				<a href="#" class="normal">Options d'annulation</a>
			</li>
			<li>
				<a href="#" class="normal">J'ai un problème de voisinage</a>
			</li>
		</ul>
	</div>
	<div class="d-block w-30 p-3 mx-3 border rounded">
		<ul class="list-unstyled">
			<li>
				<h5 class="bold f-lg">Accueil de voyageurs</h5>
			</li>
			<li>
				<a href="#" class="normal">Mettez votre logement sur Immo</a>
			</li>
			<li>
				<a href="#" class="normal">Express Immo pour les hôtes</a>
			</li>
			<li>
				<a href="#" class="normal">Ressources pour les hôtes</a>
			</li>
			<li>
				<a href="#" class="normal">Forum de la communauté</a>
			</li>
			<li>
				<a href="#" class="normal">Hébergement responsable</a>
			</li>
		</ul>
	</div>
	<div class="d-block w-30 p-3  border rounded">
		<ul class="list-unstyled">
			<li>
				<h5 class="bold f-lg">Immo</h5>
			</li>
			<li>
				<a href="#" class="normal">Newsroom</a>
			</li>
			<li>
				<a href="#" class="normal">Nouvelles fonctionnalités</a>
			</li>
			<li>
				<a href="#" class="normal">Carrières</a>
			</li>
			<li>
				<a href="#" class="normal">Investisseurs</a>
			</li>
			<li>
				<a href="#" class="normal">Cartes cadeaux</a>
			</li>
		</ul>
	</div>
</div>
<div class="mt-5 d-flex thin">
	<span>© 2024 Airbnb, Inc</span>
	<span>&nbsp;.&nbsp;</span>
	<span>
		<a class="thin" href="#">Confidentialité.</a>
	</span>
	<span>&nbsp;.&nbsp;</span>
	<span>
		<a class="thin" href="#">Conditions générales</a>
	</span>
	<span>&nbsp;.&nbsp;</span>
	<span>
		<a class="thin" href="#">Plan du site</a>
	</span>
	<span>&nbsp;.&nbsp;</span>
	<span>
		<a class="thin" href="#">Fonctionnement du site</a>
	</span>
	<span>&nbsp;.&nbsp;</span>
	<span>
		<a class="thin" href="#">Infos sur l'entreprise</a>
	</span>
</div>
