<div class="modal" id="modal-login">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title w-100  text-center">Connexion ou inscription</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<form id="form_login" name="form_login" method="post" action="/login">
					<h4>Bienvenue sur Immo</h4>
					{% if error is defined %}
						{% if error.messageKey is defined %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert"></button>
							{{ error.messageKey|trans(error.messageData, 'security') }}
							<button type="button" class="btn-close" data-bs-dismiss="alert"></div>
						{% endif %}
					{% endif %}
					<div id="pan-mail">
						<input class="mt-3 mb-3 form-control" id="inputEmail" name="email" type="text" placeholder="Adresse e-mail" autofocus/>
						<input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" placeholder="Mot de passe"/>
					</div>
					<div id="pan-tel" class="collapse">
						<select class="mt-3 form-control" id="countrySelect" name="country"></select>
						<input class="mt-3 mb-3 form-control" id="inputPhone" name="phone" type="text" placeholder="Numéro de téléphone"/>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<input type="hidden" name="method_validate" value="mail">
					<button class="btn btn-danger w-100 py-3" type="submit">Continuer</button>
				</form>
				<div class="container-barre">
					<div class="barre my-2">ou</div>
				</div>
			</div>
			<div class="container-social form-group px-3">
				<div onclick="onAction('google');" role="button" class="ms-0 row d-flex btn btn-light w-100 mb-2 py-3" id="google">
					<div class="col-1">
						<i class="ic fab fa-google fa-xl"></i>
					</div>
					<div class="col">Continuer avec Google</div>
				</div>
				<div onclick="onAction('facebook');" role="button" class="ms-0 row d-flex btn btn-light w-100 mb-3 py-3 " id="facebook">
					<div class="col-1">
						<i class="ic fab fa-facebook fa-xl"></i>
					</div>
					<div class="col">Continuer avec Facebook</div>
				</div>
				<div onclick="onAction('tel');" href="#" role="button" class="collapse" id="phone">
					<div class="col-1">
						<i class="ic fas fa-mobile-screen fa-xl"></i>
					</div>
					<div class="col">Continuer avec Téléphone</div>
				</div>
				<div onclick="onAction('mail');" href="#" role="button" class="ms-0 row d-flex btn btn-light w-100 mb-3 py-3 " id="mail">
					<div class="col-1 ">
						<i class="ic fas fa-envelope fa-xl"></i>
					</div>
					<div class="col">Continuer avec Mail</div>
				</div>
			</div>
		</div>
	</div>
</div>
