<div class="modal" id="modal-login">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title w-100  text-center">Cookies</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<form id="form_login" name="form_login" method="post" onsubmit="return onValidateLogin() " action="/login">
					<h4>Politique des cookies</h4>
					<p>
                    </p>
					<button class="btn btn-danger w-100 py-3" type="submit">Continuer</button>
				</form>
				
			</div>

		</div>
	</div>
</div>
