{% extends 'base.html.twig' %}

{% block title %}Ajouter votre commerce
{% endblock %}

{% block body %}

	<div class="container d-flex mx-auto w-100 fixed-bottom mb-3">

		<div class="text-center w-100">
			<h1 class="red">Mettez votre location sur Immo.</h1>
			<h1>Vous pourriez gagner</h1>
			<div id="compteur-chiffre" class="bigfont black ">896€</div>
            <div class="range-wrap">
			    <div id="comment-1" class="f-md mb-2">pour 7 jours avec un prix moyen estimé à 94€ par jour</div>
                {# <div class="range-value" id="rangeV"><span>Hello</span> #}
                <span id="rangeV" class="rs-label collapse">7 jours</span>
			    <input type="range" id="nbdays" min="1" value="7" max="30" > 
                {# </div> #}
            </div>
			<div>
				<a href="">Découvrez comment nous estimons vos revenus</a>
			</div>
		</div>

		<div class="w-100">  
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.3541946000723!2d4.812508811638853!3d43.64079867098219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b609635cc559e9%3A0xd8e93ba691813410!2s5%20Rue%20de%20la%20Laure%2C%2013310%20Saint-Martin-de-Crau!5e0!3m2!1sfr!2sfr!4v1703256490003!5m2!1sfr!2sfr"  width="100%" height="100%" style="border-radius:16px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

	</div>
{% endblock %}

{% block js %}
	<script src="{{asset('/build/js/common.js')}}"></script>
	<script>
		const range = document.getElementById("nbdays");
		const comment = document.getElementById("comment-1");
        const rangeV = document.getElementById('rangeV');

        moveBulle();

        let value_day=94;
        const value_progress = (range.value - range.min) / (range.max - range.min) * 100;
        range.style.setProperty("--progress-width", value_progress + "%");
        
        animerCompteur(value_day*range.value);

        range.addEventListener("input", function () {
            const value = (range.value - range.min) / (range.max - range.min) * 100;
            
            rangeV.innerHTML = `${range.value} ${(range.value==1)?'jour':'jours'}`;
            moveBulle();

            range.style.setProperty("--progress-width", value + "%");
            
            animerCompteur(value_day*range.value);
            setDay(range.value);            
            
        });

        range.addEventListener("mousedown", function () {
               
            rangeV.classList.remove("collapse"); 
            comment.classList.add("collapse"); 
        });

        range.addEventListener("mouseup", function () {
             
            rangeV.classList.add("collapse"); 
            comment.classList.remove("collapse"); 

        });


        function setDay(day){
            let days="";
            if (day>1)
                days=`pour <b>${day} jours</b>`;
            else 
                days=`pour <b>1 jour</b>`;
            comment.innerHTML=days+" avec un prix moyen estimé à 94€ par jour";
        }

        function moveBulle(){
            let x= (range.value / range.max);
            let m_x=(x*(range.clientWidth-25))+(range.clientWidth/2);
            //let m_x=(x*(range.clientWidth-25))+(range.offsetLeft/2);
            rangeV.style.left =Math.abs(m_x)+'px';  
        }



        
	</script>
{% endblock %}
