@import "~bootswatch/dist/sandstone/variables";
@import "~bootswatch/dist/sandstone/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "media.scss";

:root {
  --bs-link-color-rgb: black !important; /* Définissez la couleur RGB souhaitée */
  --bs-link-hover-color-rgb: #e61e4f !important;
}

a {
  color: var(--bs-link-color-rgb);
  text-decoration: underline;
  font-weight: 600;
}

.btn-danger {
  background: linear-gradient(
    #e61e4f,
    #fe365b,
    #e61e4f
  ); // Couleur de fond personnalisée pour les boutons de danger
  border-color: #820404; // Couleur de la bordure
  color: #fff; // Couleur du texte
  &:hover {
    background: linear-gradient(
      #b71840,
      #fb284f,
      #b71840
    ); // Couleur au survol des alertes de danger
    border-color: #820404; // Couleur de la bordure au survol
    // Autres styles au survol si nécessaire
  }
}

.btn-light {
  background: linear-gradient(
    #f8f5f0,
    #fff,
    #f8f5f0
  ); // Couleur de fond personnalisée pour les boutons de danger
  border-color: #043682; // Couleur de la bordure
  &:hover {
    background: linear-gradient(
      #f1cd8e,
      #f8f5f0,
      #f1cd8e
    ); // Couleur au survol des alertes de danger
    border-color: #043682; // Couleur de la bordure au survol
    // Autres styles au survol si nécessaire
  }
}

// Personnalisation des couleurs des alertes de danger
.alert-danger {
  background: linear-gradient(#f55f5f, #f38b8b, #f55f5f);
  border-color: #480404;
  color: #fff;
  text-shadow: 1px 1px 2px #700404;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #060606;
  outline: 0;
  box-shadow: 0 0 0 2px #060606cc;
}

.form-select:focus {
  border-color: #060606;
  outline: 0;
  box-shadow: 0 0 0 2px #060606cc;
}

.form-control::placeholder {
  color: #6c757d; /* Couleur du placeholder */
}

.form-control:focus::placeholder {
  transform: scale(0.9); /* Ajustez la taille du placeholder */
  transform-origin: left; /* Déplacez le placeholder vers la gauche */
  color: #6c757d; /* Couleur du placeholder lorsqu'il est en focus */
}

.nav-tabs .nav-link:hover {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background-color: #eaeaea !important;
  border-radius: 4px;
  margin: 4px;
}

.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 4px;
  /*border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);*/
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #fe365b !important;
  margin: 4px;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 4px;

  /* border: var(--bs-nav-tabs-border-width) solid transparent; */
  /* border-top-left-radius: var(--bs-nav-tabs-border-radius); */
  /* border-top-right-radius: var(--bs-nav-tabs-border-radius); */
}

.btn,
.navbar .nav-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.sandstone,
.tooltip,
.dropdown-menu .dropdown-item,
.pagination,
.breadcrumb,
.nav-pills .nav-link,
.nav-tabs .nav-link,
.btn,
.navbar .nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: none;
}

.bold {
  font-weight: 800;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #363636;
  --bs-btn-border-color: #3e3f3a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: #51524e;
  --bs-btn-focus-shadow-rgb: 91, 92, 88;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #656561;
  --bs-btn-active-border-color: #51524e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #545454;
  --bs-btn-disabled-border-color: #3e3f3a;
}

.form-floating ul {
  color: red;
  list-style-type: none;
  margin-left: -24px;
}

input[type="radio"] {
  width: 1.35em; // Ajustez la largeur du cercle
  color: #000 !important;
  height: 1.35em; // Ajustez la hauteur du cercle
  outline: none; // Supprime la bordure de focus par défaut

  &:checked {
    background-color: #000 !important; // Couleur de fond lorsque le bouton radio est coché (noir dans cet exemple)
    border-color: #000 !important; // Couleur de la bordure lorsque le bouton radio est coché
  }
}

.form-check > input[type="radio"]{
  &:checked {
  background-color: black !important;
  border-color: #1d1c1c !important;
  color: black !important;
  }
  &:focus{
    border-color: white!important;
    outline: 0;
    box-shadow: 0 0 0 0.05rem rgb(238, 3, 3)!important;
  }
}

.form-floating ul li::before {
  content: "\F071";
  font-family: "Font Awesome 5 Free";
  font-size: 22px;
  font-weight: 800;
  margin-right: 0.5em;
}
