@import "~bootswatch/dist/sandstone/variables";
@import "~bootswatch/dist/sandstone/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "media.scss";
@import "common.scss";

:root {
  --bs-link-color-rgb: black !important; /* Définissez la couleur RGB souhaitée */
  --bs-link-hover-color-rgb: #e61e4f !important;
  --progress-width: 50%;
  --progress-height: 4px;
  --thumb_dim: 25px;
}

a {
  color: var(--bs-link-color-rgb);
  text-decoration: underline;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: 800;
  color: #3a3a3a;
}

.modal-body {
  padding: 2rem 1rem;
}

.btn-danger {
  background: linear-gradient(
    #e61e4f,
    #fe365b,
    #e61e4f
  ); // Couleur de fond personnalisée pour les boutons de danger
  border-color: #820404; // Couleur de la bordure
  color: #fff; // Couleur du texte
  &:hover {
    background: linear-gradient(
      #b71840,
      #fb284f,
      #b71840
    ); // Couleur au survol des alertes de danger
    border-color: #820404; // Couleur de la bordure au survol
    // Autres styles au survol si nécessaire
  }
}

.btn-light {
  background: linear-gradient(
    #f8f5f0,
    #fff,
    #f8f5f0
  ); // Couleur de fond personnalisée pour les boutons de danger
  border-color: #043682; // Couleur de la bordure
  &:hover {
    background: linear-gradient(
      #f1cd8e,
      #f8f5f0,
      #f1cd8e
    ); // Couleur au survol des alertes de danger
    border-color: #043682; // Couleur de la bordure au survol
    // Autres styles au survol si nécessaire
  }
}
.btn-light2 {
  background: linear-gradient(
    #f8f5f0,
    #fff,
    #f8f5f0
  ); // Couleur de fond personnalisée pour les boutons de danger
  border-color: #313131; // Couleur de la bordure
  &:hover {
    background: linear-gradient(
      #e1e0e0,
      #f8f5f0,
      #e1e0e0
    ); // Couleur au survol des alertes de danger
    border-color: #1d1d1d; // Couleur de la bordure au survol
    // Autres styles au survol si nécessaire
  }
}

// Personnalisation des couleurs des alertes de danger
.alert-danger {
  background: linear-gradient(#f55f5f, #f38b8b, #f55f5f);
  border-color: #480404;
  color: #fff;
  text-shadow: 1px 1px 2px #700404;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #060606;
  outline: 0;
  box-shadow: 0 0 0 2px #060606cc;
}

.form-select:focus {
  border-color: #060606;
  outline: 0;
  box-shadow: 0 0 0 2px #060606cc;
}

.form-control::placeholder {
  color: #6c757d; /* Couleur du placeholder */
}

.form-control:focus::placeholder {
  transform: scale(0.9); /* Ajustez la taille du placeholder */
  transform-origin: left; /* Déplacez le placeholder vers la gauche */
  color: #6c757d; /* Couleur du placeholder lorsqu'il est en focus */
}

.nav-tabs .nav-link:hover {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background-color: #e3d6d6 !important;
  border-radius: 4px;
  margin: 4px;
}

.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 4px;
  /*border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);*/
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #fe365b !important;
  margin: 4px;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 4px;

  /* border: var(--bs-nav-tabs-border-width) solid transparent; */
  /* border-top-left-radius: var(--bs-nav-tabs-border-radius); */
  /* border-top-right-radius: var(--bs-nav-tabs-border-radius); */
}

.btn,
.navbar .nav-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.sandstone,
.tooltip,
.dropdown-menu .dropdown-item,
.pagination,
.breadcrumb,
.nav-pills .nav-link,
.nav-tabs .nav-link,
.btn,
.navbar .nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: none;
}

.bold {
  font-weight: 800!important;
}

.normal {
  font-weight: 500!important;
}

.thin {
  font-weight: 300!important;
}


.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #363636;
  --bs-btn-border-color: #3e3f3a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: #51524e;
  --bs-btn-focus-shadow-rgb: 91, 92, 88;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #656561;
  --bs-btn-active-border-color: #51524e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #545454;
  --bs-btn-disabled-border-color: #3e3f3a;
}

.form-floating ul {
  color: red;
  list-style-type: none;
  margin-left: -24px;
}

input[type="radio"] {
  width: 1.35em; // Ajustez la largeur du cercle
  color: #000 !important;
  height: 1.35em; // Ajustez la hauteur du cercle
  outline: none; // Supprime la bordure de focus par défaut

  &:checked {
    background-color: #000 !important; // Couleur de fond lorsque le bouton radio est coché (noir dans cet exemple)
    border-color: #000 !important; // Couleur de la bordure lorsque le bouton radio est coché
  }
}

.form-check > input[type="radio"] {
  &:checked {
    background-color: black !important;
    border-color: #1d1c1c !important;
    color: black !important;
  }
  &:focus {
    border-color: white !important;
    outline: 0;
    box-shadow: 0 0 0 0.05rem rgb(238, 3, 3) !important;
  }
}

.form-floating ul li::before {
  content: "\F071";
  font-family: "Font Awesome 5 Free";
  font-size: 22px;
  font-weight: 800;
  margin-right: 0.5em;
}

/* Styles généraux pour l'input range */
input[type="range"] {
  -webkit-appearance: none; /* Supprimer le style par défaut pour WebKit */
  width: 50%; /* Ajuster la largeur selon vos besoins */
  height: 10px; /* Ajuster la hauteur selon vos besoins */
  margin: 0;
  position: relative;

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Supprimer le style par défaut pour WebKit */
    width: var(--thumb_dim); /* Ajuster la largeur du thumb */
    height: var(--thumb_dim); /* Ajuster la hauteur du thumb */
    background-color: black; /* Couleur du thumb */
    border: 1px solid #ddd; /* Bordure optionnelle du thumb */
    border-radius: 50%; /* Bordure arrondie pour un aspect circulaire */
    cursor: pointer; /* Curseur au survol du thumb */
    z-index: 2; /* Mettre le thumb au-dessus du pseudo-élément */
    margin-top: calc((-0.45 * var(--thumb_dim)));
  }

  &::-moz-range-thumb {
    width: 20px; /* Ajuster la largeur du thumb */
    height: 20px; /* Ajuster la hauteur du thumb */
    background-color: black; /* Couleur du thumb */
    border: 1px solid #ddd; /* Bordure optionnelle du thumb */
    border-radius: 50%; /* Bordure arrondie pour un aspect circulaire */
    cursor: pointer; /* Curseur au survol du thumb */
    z-index: 2; /* Mettre le thumb au-dessus du pseudo-élément */
  }

  &::-ms-thumb {
    width: 20px; /* Ajuster la largeur du thumb */
    height: 20px; /* Ajuster la hauteur du thumb */
    background-color: black; /* Couleur du thumb */
    border: 1px solid #ddd; /* Bordure optionnelle du thumb */
    border-radius: 50%; /* Bordure arrondie pour un aspect circulaire */
    cursor: pointer; /* Curseur au survol du thumb */
    z-index: 2; /* Mettre le thumb au-dessus du pseudo-élément */
  }

  &::before {
    content: "";
    position: absolute;
    height: var(--progress-height); /* Ajuster la hauteur de la piste */
    border-radius: 1px; /* Bordure arrondie pour un aspect plus doux */
    top: 2px; /* Aligner au sommet */
    width: calc(
      var(--progress-width) - 1px
    ); /* Ajuster la moitié de la largeur de la piste moins la moitié de la largeur du thumb */
    background-color: #000000; /* Couleur noire pour la progression */
    z-index: 1; /* Mettre le pseudo-élément en dessous du thumb */
  }

  &::-webkit-slider-runnable-track {
    width: 100%; /* Ajuster la largeur de la piste */
    height: var(--progress-height); /* Ajuster la hauteur de la piste */
    background-color: #ddd; /* Couleur de la piste (gris dans cet exemple) */
    border-radius: 1px; /* Bordure arrondie pour un aspect plus doux */
    position: relative;
  }

  &::-moz-range-track {
    width: 100%; /* Ajuster la largeur de la piste */
    height: var(--progress-height); /* Ajuster la hauteur de la piste */
    background-color: #ddd; /* Couleur de la piste (gris dans cet exemple) */
    border-radius: 5px; /* Bordure arrondie pour un aspect plus doux */
    position: relative;
  }
  &::-ms-fill-upper {
    background: black;
  }
  &::-moz-range-progress {
    background-color: #000000;
  }
  &::-ms-track {
    width: 100%; /* Ajuster la largeur de la piste */
    height: var(--progress-height); /* Ajuster la hauteur de la piste */
    background-color: #ddd; /* Couleur de la piste (gris dans cet exemple) */
    border-radius: 5px; /* Bordure arrondie pour un aspect plus doux */
    position: relative;
  }

  /* Autres styles de votre input range selon vos besoins */
}

.bigfont {
  font-size: calc(2rem + 1.5vw);
  font-weight: 800;
  animation: opacity-anim 0.5s;
}

@keyframes blur-anim {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes opacity-anim {
  0% {
    filter: brightness(0);
  }
  50% {
    filter: brightness(0.25);
  }
  100% {
    filter: brightness(1);
  }
}

.range-wrap {
  width: 100%;
  height: 90px;
  //position: relative;
}

.range-value {
  display: block;
  position: relative;
  padding: 2px;
  //transform-origin: center center;
  width: 60px;
  height: 35px;
  top: -4px;
  line-height: 24px;
  //align-items: center;
  //justify-content: center;
  background: #000;
  color: #fff;
  font-size: 14px;
  //margin-left: 50%;
  //left: attr(value);
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 90px;
  height: 32px;
  background: black;
  border-radius: 2rem;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  box-sizing: border-box;
  margin: 0;
  margin-left: -40px;
  left: 70px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  top: -8px;
}
.range-value:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.h-auto {
  height: 100dvh;
  margin-bottom: 8px;
}

.icon-round {
  display: flex;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: var(--bs-link-hover-color-rgb);
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}


.rounded-2 {
  border-radius: 1.05rem !important;
}


.rounded-3 {
  border-radius: 2rem !important;
}

.lh-2{
  line-height: 2rem;
}

.lh-3{
  line-height: 3rem;
}