.check {
    position: relative;  
  }
.check input {
    position: absolute;  
    right:0;
    top:0;
    
    z-index: 6;
    display: none;
  }
  
  .check label {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "label checkbox";
    /*gap: 9rem;*/
    font-size: 1rem;
    margin-top: 5px;
    padding: 18px 2px;
    border-bottom: 1px solid #f6f4f4;
  }
  .check label::after,
  .check label::before {
    content: "";
    grid-area: checkbox;
    display: block;
    
  }
  .check label::before {
    width: 40px;
    border: 1px solid #d1d1d151;
    height: 1.4rem;
    border-radius: 1rem;  
    background: darkgray;
  }
  
  .check label::after {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    background: white;
    border: 2px solid darkgray;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  .check input[type="checkbox"]:checked+ label::before { 
    background: black;
    border: 2px solid white;
  }
  
  .check input[type="checkbox"]:checked+ label::after {  
    background: white;
  
    transform: translateX(1rem);
  }
  
  /* check box perso type1 */
  
  .toggler-wrapper {
    position: relative;
    top:0;
    left:280px;
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
  }
  
  .toggler-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: black;
  }
  
  .toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  /* label */
  .badge {
    position:relative;
    top:-30px;
    font-size: 1rem;
    
    /*background-color: #f2eee0;*/
    display: inline-block;
    /*padding: 3px 8px;*/
    margin: 10px 0px;
    border-radius: 4px;
  }
  

  /*Style 1*/

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 5px);
}

.toggler-wrapper.style-1 .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
}