/**
 * ==============================================
 * Dot Fade
 * ==============================================
 */
.dot-fade {
  position: relative;
  left: 49%;
  top: 9px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eaeaeb;
  color: #f9f9fb;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-fade 2s infinite linear;
  animation-delay: 0.25s;
}
.dot-fade::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left:-15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eaeaeb;
  color: #e7e731;
}
.dot-fade::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eaeaeb;
  color: #4ce731;
}
.dot-fade::before {
  box-shadow: 50% 0 0 -5px;
  animation: dot-fade-before 1s infinite linear;
  animation-delay: 0.2s;
}
.dot-fade::after {
  box-shadow: 54% 0 0 -5px;
  animation: dot-fade-after 1s infinite linear;
  animation-delay: 0.2s;
}

@keyframes dot-fade-before {
  0% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.75;
  }
}
@keyframes dot-fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.75;
  }
}
@keyframes dot-fade-after {
  0% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.75;
  }
}
/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: 20%;
  top: 9px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eaeaeb;
  color: #f9f9fb;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 3s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eaeaeb;
  color: #e7e731;
}
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eaeaeb;
  color: #4ce731;
}
.dot-pulse::before {
  box-shadow: 50% 0 0 -5px;
  animation: dot-pulse-before 1s infinite linear;
  animation-delay: 0.15s;
}
.dot-pulse::after {
  box-shadow: 54% 0 0 -5px;
  animation: dot-pulse-after 1s infinite linear;
  animation-delay: 0.25s;
}

@keyframes dot-pulse-before {
  0% {
    transform: translateX(0px) scale(0.8);

    opacity: 0.25;
  }
  50% {
    transform: translateX(20px) scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: translateX(40px) scale(1);

    opacity: 0.75;
  }
}
@keyframes dot-pulse {
  0% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 0.8;
  }
}
@keyframes dot-pulse-after {
  0% {
    transform: translateX(-10px) scale(0.8);
    opacity: 0;
  }
  60% {
    transform: translateX(0px) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateX(20px) scale(1);
    opacity: 0.5;
  }
}

/**
 * ==============================================
 * Dot Spin
 * ==============================================
 */
.dot-spin {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff,
    18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0),
    0 18px 0 0 rgba(152, 128, 255, 0),
    -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0),
    -18px 0 0 0 rgba(152, 128, 255, 0),
    -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
  animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff,
      18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff,
      12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #9880ff,
      12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff,
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #9880ff,
      0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff,
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #9880ff,
      -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff,
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #9880ff,
      -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
  }
  75% {
    box-shadow: 0 -18px 0 0 #9880ff,
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff,
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 0 #9880ff;
  }
}
