:root {
  --red: #e41d56;
  --red2: rgba(169, 169, 169, 0.93);
  --primary-clr: rgba(232, 197, 250, 0.85);
}

@font-face {
  font-family: metropolis-medium;
  src: url("../fonts/Metropolis/Metropolis-Medium.otf");
  font-display: fallback;
}

body {
  font-family: metropolis-medium;
}

/* nice scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: var(--red2);
  border-radius: 50px;
}
.menu-header {
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: white;
  padding: 10px 16px;
}

.menu-top {
  visibility: visible;
  position: relative;
  left: 0px;
  width: 100%;
  height: 45px;
  border-radius: 50px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 1.2rem;
  font-size: 0.9rem;
  z-index: 6;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
}

.menu-top:hover {
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);
}

.container {
  position: relative;
  top: 50px;
}

.black{
  color:black;
}

.gray {
  color: rgba(128, 128, 128, 0.85);
  font-weight: 300;
}

.gray-2 {
  color: rgba(50, 50, 50, 0.9);
}


.gray-3 {
  color: rgba(80, 80, 80, 0.9);
}

.darkgray {
  color: rgba(22, 22, 22, 0.82);
  font-weight: 550;
}

.darkgray2 {
  color: rgba(22, 22, 22, 0.82);
  font-weight: 500;
}

.btn-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--red);
  color: whitesmoke;
  z-index: 9;
}

.btn-search2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100px;
  padding: 0.5rem 1.5rem;
  border-radius: 32px;
  background: var(--red);
  color: whitesmoke;
  z-index: 9;
  font-size: 1rem;
}

.btn-search:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

.logo {
  position: absolute;
  object-fit: contain;
  left: 20px;
  top: 10px;
  height: 50px;
  width: 100px;
  background: url("../images/immo.svg") no-repeat;
}

#cards {
  position: relative;
  top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
}

.card,
.card-xs {
  position: relative;
  width: 320px;
  height: 400px;
  margin: 14px;
  background: white;
  line-height: 1.43;
  font-size: 14px;
}

.card-xs {
  border: 1px solid transparent;
  height: 178px;
}

.card:hover {
  box-shadow: 1px 1px 6px black;
  cursor: pointer;
}

.card-xs:hover {
  border: 1px solid rgb(243, 83, 83);
  cursor: pointer;
}

.card img {
  top: 0px;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 300px;
  background: gray;
}
.favorite {
  position: absolute;
  right: 5px;
  top: 5px;
}
.ratings {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  font-size: 14px;
  margin-top: 5px;
}
.slides {
  visibility: hidden;
  position: fixed;
  top: 70px;
  left: -10px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-top: 1px solid #d7d6d6;
  padding: 5px 0;
  background: white;
  z-index: 9;
}

.slides:hover {
  cursor: pointer;
}

.slide-card {
  position: relative;
  top: 5px;
  font-size: 12px;
  text-align: center;
  color: #444444;
  display: block;

  height: inherit;
  margin-left: 20px;
  margin-right: 20px;
  width: 65px;
  border-bottom: 4px solid transparent;
  line-height: 1.5;
}

.header-end {
  width: 100%;
}

.log {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 20px;
  background: white;
  color: #676767;
  border: 1px solid #d9d7d7cf;
  padding: 0 0.9rem;
}
.log:hover {
  box-shadow: 1px 1px 4px #00000059;
  cursor: pointer;
}
.menu-end {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  z-index: 6;
  background: white;
  display: flex;
  align-items: center;
  gap: 22px;
  /*justify-content: space-between;*/
}

.ms-1 {
  position: relative;
  margin-left: 10px;
}

#anywhere {
  padding-right: 20px;
  border-right: 1px solid #e6e5e5;
}

#duration {
  padding-right: 20px;
  border-right: 1px solid #e6e5e5;
}
#addcommerce,
#addcommerce2 {
  border-radius: 25px;
  padding: 0.9rem;
}
#addcommerce:hover,
#addcommerce2:hover {
  /*border: 1px solid gray;*/
  border-radius: 25px;
  padding: 0.9rem;
  /*box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);*/
  background: #f5f5f5d9;
  cursor: pointer;
}
#global,
#global2 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 47px;
  width: 47px;
  border-radius: 50%;
  padding: 0.9rem;
}
#global:hover,
#global2:hover {
  border-radius: 50%;
  padding: 0.9rem;
  background: #f5f5f5d9;
  cursor: pointer;
}
.slide-card:hover {
  border-bottom: 4px solid #918f8f80;
}
.spacer {
  width: 50%;
}

.sp-10 {
  width: 1%;
}

.menu-header2 {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: white;
}

.header-expanded {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(229, 227, 227, 0.68);
  border-radius: 22px;
  height: 65px;
}

.header-location {
  width: 100%;
  background: white;
  border-radius: 22px;
  border: 1px solid #c2c2c280;
  height: 65px;
}

.flex {
  display: flex;
}

.font1 {
  font-family: Arial, "Roboto Thin", serif;
  font-weight: 600;
}

.btn-red {
  width: 100%;
  background: var(--red);
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.menu-log {
  visibility: visible;
  position: absolute;
  width: 250px;
  top: 60px;
  right: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px #0000005e;
  padding: 20px 0;
  z-index: 9;
  background: white;
  font-family: inherit;
  font-size: 1rem;
}

.menu-log a {
  padding: 7px 12px;
  margin: 8px 5px;
  display: block;
  text-decoration: none;
  color: #737373;
}
.menu-log .first {
  color: #252525;
}

.menu-log a:hover {
  background: #b8b8b814;
  cursor: pointer;
}

.top-rounded {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.barre {
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  margin: 16px 0px !important;
}

.barre::before {
  content: "" !important;
  display: block !important;
  width: 100% !important;
  height: 1px !important;
  background-color: #dddddd !important;
  margin-right: 16px !important;
}

.barre::after {
  content: "" !important;
  display: block !important;
  width: 100% !important;
  height: 1px !important;
  background-color: #dddddd !important;
  margin-left: 16px !important;
}

.grid-3 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-items: center;
  grid-column-gap: 45px;
  justify-content: center;
}

.ml-170 {
  margin-left: 170px;
}

.modal-bottom {
  position: fixed;
  bottom: 8px !important;
  margin: 0;
}

.text-sm .f-sm{
  font-size: 0.85rem;
}


.f-xs {
  font-size: 0.75em;
}
.f-sm{
  font-size: 0.8em;
}

.f-md {
  font-size: 1em;
}

.f-lg {
  font-size: 1.15em;
}

.f-md2 {
  font-size: 1.05em;
}


.f-xl {
  font-size: 1.5em;
}

.f-xxl {
  font-size: 1.75em;
}

.card-info {
  border: 1px solid #dddddd !important;
  border-radius: 12px !important;
  padding: 24px !important;
  margin-top: 48px !important;
  line-height: 26px !important;
  font-size: 0.85em;
}

.card-option{
  display: flex;
  border: 1px solid #8d8d8d !important;
  /* border-radius: 12px !important; */
  padding: 24px 16px !important;
  /* margin-bottom: 8px; */
}

.card-option:hover{
  display: flex;
  border: 1.75px solid #393939 !important;
  /* border-radius: 12px !important; */
  padding: 24px 16px !important;
  /* margin-bottom: 8px; */
  cursor: pointer;
}

.card-option ul>li:first-child{
  list-style-type: none;
  font-weight: 800;
  font-size: 1.15em;
  color:black;
  margin-left: -15px;
}
