<div class="row ">
	<div class="col-md-12">
		<div class="form-floating">
			<input class="form-control mt-2" id="nameInput" name="nameInput" aria-label="Nom" placeholder="Nom d'un tier de confiance">
			<label for="nameInput">Nom</label>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-floating">
			<input class="form-control mt-2" id="relationInput" name="relationInput" aria-label="Relation" placeholder="Ex: ami ou parent">
			<label for="relationInput">Relation</label>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-floating">
			<input id="emailInput" name="emailInput" type="text" class="form-control mt-2" placeholder="Ex: adresse@mail.com">
			<label for="emailInput" class="form-label gray">Adresse e-mail</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-floating">
			<select id="codePhoneInput" name="codePhoneInput" type="text" class="form-select mt-2" ></select>
			<label for="codePhoneInput" class="form-label gray">Indicatif téléphonique</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-floating">
			<input id="phoneInput" name="phoneInput" type="text" class="form-control mt-2" placeholder="ex: +33 X XX XX XX XX">
			<label for="phoneInput" class="form-label gray">Numéro de téléphone</label>
		</div>
	</div>
	<div>
		<button type="submit" class="col-3 btn btn-dark p-3 mt-3">Enregistrer</button>
	</div>
</div>
