<div class="row ">
	<div class="col-md-12">
		<div class="form-floating">
			<select class="form-select mt-2" id="countryOnlySelect" name="countrySelect" aria-label="Pays/Région"></select>
			<label for="countryOnlySelect">Pays/Région</label>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-floating">
			<input id="addressInput" name="addressInput" type="text" class="form-control mt-2" placeholder="Adresse postale">
			<label for="addressInput" class="form-label gray">Adresse postale</label>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-floating">
			<input id="addressExtraInput" name="addressExtraInput" type="text" class="form-control mt-2" placeholder="(+33) 0-00-00-00-00">
			<label for="addressExtraInput" class="form-label gray">Appartement, bâtiment (facultatif)</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-floating">
			<input id="codePostalInput" name="codePostalInput" type="text" class="form-control mt-2" placeholder="ex: 7500">
			<label for="codePostalInput" class="form-label gray">Code Postale</label>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-floating">
			<input id="cityInput" name="cityInput" type="text" class="form-control mt-2" placeholder="ex: Paris">
			<label for="cityInput" class="form-label gray">Ville</label>
		</div>
	</div>
	<div>
		<button type="submit" class="col-3 btn btn-dark p-3 mt-3">Enregistrer</button>
	</div>
</div>
