{% extends 'base.html.twig' %}

{% block title %}Gérez vos modes de versements
{% endblock %}

{% block body %}

	<div class="row container w-75 mx-auto">
		<div class="col-md-7">

			<section class="mx-auto mb-5">
				<a href="/user/dashboard">
					<strong>Compte</strong>
				</a>
				<span>&nbsp;>&nbsp;</span>
				<a href="/user/payment">
					<strong>Paiements et versements</strong>
				</a>
				<span>&nbsp;>&nbsp;</span>
				<span class="my-2">Gérez les paiements</span>
				<h2 class="mt-4 bold">Gérez les paiements</h2>
				<p>Lorsque vous avez une réservation, c'est ici que vous pouvez suivre vos paiements et vos remboursements.</p>
			</section>
		</div>
		<div class="col-md-5">
			<div class="ms-3 card-info">
				<section>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Uploaded to svgrepo.com" width="35px" height="35px" viewbox="0 0 32 32" xml:space="preserve">
						<style type="text/css">
							.avocado_een {
								fill: #231F20;
							}
							.avocado_zes {
								fill: #FFFAEE;
							}
							.avocado_zeventien {
								fill: #CC4121;
							}
							.st0 {
								fill: #EAD13F;
							}
							.st1 {
								fill: #E0A838;
							}
							.st2 {
								fill: #788287;
							}
							.st3 {
								fill: #DBD2C1;
							}
							.st4 {
								fill: #3D3935;
							}
							.st5 {
								fill: #6F9B45;
							}
							.st6 {
								fill: #E598A3;
							}
							.st7 {
								fill: #D36781;
							}
							.st8 {
								fill: #8D3E93;
							}
							.st9 {
								fill: #BF63C1;
							}
							.st10 {
								fill: #A3AEB5;
							}
							.st11 {
								fill: #AF9480;
							}
							.st12 {
								fill: #716558;
							}
							.st13 {
								fill: #0E608E;
							}
							.st14 {
								fill: #248EBC;
							}
							.st15 {
								fill: #D1712A;
							}
							.st16 {
								fill: #C3CC6A;
							}
							.st17 {
								fill: #0B1719;
							}
							.st18 {
								fill: #231F20;
							}
						</style>
						<g>
							<path class="avocado_zes" d="M16,29.5C8.556,29.5,2.5,23.444,2.5,16S8.556,2.5,16,2.5S29.5,8.556,29.5,16S23.444,29.5,16,29.5z    M16,10.5c-3.032,0-5.5,2.468-5.5,5.5s2.468,5.5,5.5,5.5s5.5-2.468,5.5-5.5S19.032,10.5,16,10.5z"/>
							<path class="avocado_zeventien" d="M28.676,11.4l-7.301,3.442c-0.247-1.145-0.853-2.154-1.691-2.914l6.641-4.608   C27.335,8.519,28.129,9.9,28.676,11.4z M11.928,12.316c0.759-0.838,1.769-1.444,2.914-1.691L11.4,3.324   C9.9,3.871,8.519,4.665,7.32,5.675L11.928,12.316z M5.675,24.68l6.641-4.608c-0.838-0.759-1.444-1.769-1.691-2.914L3.324,20.6   C3.871,22.1,4.665,23.481,5.675,24.68z M20.072,19.684c-0.759,0.838-1.769,1.444-2.914,1.691l3.442,7.301   c1.5-0.546,2.881-1.341,4.08-2.351L20.072,19.684z"/>
							<path class="avocado_een" d="M16,2C8.268,2,2,8.268,2,16s6.268,14,14,14s14-6.268,14-14S23.732,2,16,2z M20.459,12l5.765-4.001   c0.747,0.952,1.365,2.007,1.825,3.145l-6.35,2.993C21.437,13.336,21.009,12.612,20.459,12z M20,20.459l4.002,5.765   c-0.952,0.747-2.007,1.365-3.145,1.825l-2.993-6.35C18.664,21.437,19.388,21.009,20,20.459z M16,21c-2.761,0-5-2.239-5-5   s2.239-5,5-5s5,2.239,5,5S18.761,21,16,21z M11.541,20l-5.765,4.001c-0.747-0.952-1.365-2.007-1.825-3.145l6.35-2.993   C10.563,18.664,10.991,19.388,11.541,20z M12,11.541L7.998,5.776c0.952-0.747,2.007-1.365,3.145-1.825l2.993,6.35   C13.336,10.563,12.612,10.991,12,11.541z M25.572,7.234l-5.856,4.064C18.693,10.488,17.403,10,16,10   c-0.295,0-0.583,0.029-0.867,0.07l-3.047-6.465C13.322,3.214,14.636,3,16,3C19.789,3,23.193,4.639,25.572,7.234z M7.234,6.428   l4.064,5.856C10.488,13.307,10,14.597,10,16c0,0.295,0.029,0.583,0.07,0.867l-6.465,3.047C3.214,18.678,3,17.364,3,16   C3,12.211,4.639,8.807,7.234,6.428z M6.428,24.766l5.856-4.064C13.307,21.512,14.597,22,16,22c0.295,0,0.583-0.029,0.867-0.07   l3.047,6.465C18.678,28.786,17.364,29,16,29C12.211,29,8.807,27.361,6.428,24.766z M24.766,25.572l-4.064-5.856   C21.512,18.693,22,17.403,22,16c0-0.295-0.029-0.583-0.07-0.867l6.465-3.047C28.786,13.322,29,14.636,29,16   C29,19.789,27.361,23.193,24.766,25.572z"/>
						</g>
					</svg>
					<div class="mt-4 bold f-xl">Besoin d'aide ?</div>
					<div class="f-md2 mt-2">
						<a href="#">Comment fonctionnent les paiements en plusieurs fois ?</a>
					</div>
					<div class="f-md2 mt-2">
						<a href="#">Comment régler ma réservation longue durée ?</a>
					</div>
					<div class="f-md2 mt-2">
						<a href="#">Où puis-je trouver mon paiement ?</a>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="{{asset('/build/js/common.js')}}"></script>
	<script src="https://unpkg.com/imask"></script>

	<script></script>

{% endblock %}
