{% extends 'base.html.twig' %}

{% block title %}Gérez vos modes de paiments{% endblock %}

{% block body %}

	<div id ="container" class="row container mx-auto ">
		<div class="col-md-12">
			<section class="mx-auto mb-5">
				<a href="/user/dashboard">
					<strong>Compte</strong>
				</a>
				<span class="mt-3">&nbsp;> Mode de versement</span>
				<h2 class="bold gray-2 mt-4 ">Ajoutez un mode de versement</h2>
				<div>Pour commencer, indiquez-nous où vous souhaitez recevoir l'argent.</div>
			</section>
			<section>
				<label class="mt-2 bold">Pays/région de facturation</label>
				{{ include('/partials/form/form_payment_method.html.twig') }}
			</section>
		</div>
	</div>
{% endblock %}

{% block js %}

	<script src="{{asset('/build/js/common.js')}}"></script>
	<script>
	
		{# loadCountryOnlyToSelect("{{ asset('build/data/country.json') }}", "FR", "payment_method_form_country");
	 #}
	</script>

{% endblock %}
